<div class="row">
    <div class="col-xs-12">
        <img 
            [src]="recipe.imagePath" 
            [alt]="recipe.name"
            style="max-height: 50px;" 
            class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>{{ recipe.name }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button 
                class="btn btn-primary dropdown-toggle" 
                (click)="onManageRecipe()">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul 
                class="dropdown-menu">
                <li><a href="#" (click)="onAddIngredients()">Add ingredients</a></li>
                <li><a href="">edit recipe</a></li>
                <li><a href="">delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li 
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>